In [ ]:
# pypi are the packages that are avilable in the python
# turtle graphics is the standard library that is available in the python

 #STRING
print("HELLO WORLD")
print("HELLO WORLD \nHELLO WORLD \nHELLO WORLD")
print('HELLO' +   "sree")
print("hello" +" "+"sree")
#indentation error means a space left before the print statement or any other statement that is not necessary and spelling mistakes
#ctrl+forward slash(/) makes the statement as comment

HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLOsree
hello sree

In [ ]:
#INPUT FUNCTION
print("HELLO!"+" "+input("what is your name? "))

what is your name? sree
HELLO! sree

In [ ]:
#Variables
name=input("what is your name?")
print(name)

what is your name?sree
sree

In [ ]:
#INDEX VALUE
print("hello"[0])
# the way of printing a single letter from a word is called as SUBSCRIPT
print("hello"[4])


#WHEN THE VALUES ARE CONCATINATED AFTER PRINTING THEN IT IS STRING TYPE
#WHEN THE VALUES GET ADDED AFTER PRINTING THEN IT IS A INTEGER TYPE
#CONCADINATION
print("123"+"456")
#ADDITION
print(123+456)

#BOOLEAN CAN BE TRUE OR FALSE

h
o
123456
579

In [ ]:
#YOU CANT CONCADINATE A STRING AND AN INTEGER IT ENDS UP WITH A TYPE ERROR
num_char=len(input("what is your name?"))
print("your name has"+num_char+"character")
#THIS CODE SHOWS ERROR

In [ ]:
#STRING AND INTEGER CAN BE CONCATINATED BY CHANGING THE INT TO STR
num_char=len(input("what is your name?"))
new_num_char=str(num_char)#this code changes int to str to prevent from error
print("your name has"+" "+new_num_char+" "+"character")

what is your name?sree
your name has 4 character

In [ ]:
a=input("what is your age?")
type(a)
#WHEN THE INPUT VALUE IS ASKED WITH A STRING THEN THE RESULTANT TYPE OF THE INPUT IS ALSO STRING

what is your age?7

str

In [ ]:
#ROUNDING OF THE DIGITS
print(8/3)
print(round(8/3))
print(round(8/3 ,2))#round tp the decimal place mentiones after comma

#TO CHANGE THE OUTPUT FROM A FLOAT TO INTEGER USING //
print(8//3)

2.6666666666666665
3
2.67
2

In [ ]:
#f-STRING
#WE CAN'T PRINT A STRING WITH AN INTEGER SO WE CAN USE f-STRING INSTEAD OF CHANGING IT TO AN INTEGER TYPE
score=0
height=1.78
winningIs=True
f"your score in the game is {score}, your height is{height}, your winning is{winningIs}"

'your score in the game is 0, your height is1.78, your winning isTrue'

In [ ]:
# TO CONVERT A STRING INTO LOWER CASE
"SREE".lower()
# TO COUNT THE OCCURENCE OF A LETTER IN STRING
"sree".count("e")

2

# New Section

In [ ]:
#TO PRINT RANDOM INTEGERS
import random

random_integer=random.randint(1,10)
print(random_integer)

#TO PRINT RANDOM FLOTING NUMBERS
random_float=random.random()*5 #to create random float beyween 0 to 5
print(random_float)

3
3.1226180123571834

In [ ]:
fruits=["lemon","straeberries","apple","banana"]
vegetables=["carrot","raddish","onion","tomato"]
mix=[fruits,vegetables]
print(mix[1][1])

raddish

In [ ]:
#FOR LOOP
fruits=["apple","banana","mango"]
for fruit in fruits:
  print(fruit)
  print(fruit +" pie")
  print(fruits)#if it is indended after for loop it will be printed 3 time but if it is intended before for loop it will printed only one
  #time because it is not a part of for loop

apple
apple pie
['apple', 'banana', 'mango']
banana
banana pie
['apple', 'banana', 'mango']
mango
mango pie
['apple', 'banana', 'mango']

In [ ]:
fruits=["apple","banana","mango"]
for fruit in range(0,len(fruits)):
  print(fruits[fruit])

apple
banana
mango

In [ ]:
name=["26","27","28","29"]
n=4
total=0
for std_name in range(0,len(name)):
  name[std_name]=int(name[std_name])
  # print(std_name)
  total=total+name[std_name]
avg=total/4
print(avg)

27.5

In [ ]:
a=["ben","michael","choel","angela"]
import random
rd=random.randint(0,len(a)-1)
print(a[rd])

michael

In [ ]:
#FUNCTIONS
def my_function():
  print("hello")
  print("bye")

my_function()#the function is invoked or triggered by calling the function so as to print the values of function defined

hello
bye

In [ ]:
#CTRL KEYS TO BE USED
#-ctrl+/
#indentation-ctrl+ ]/[

In [ ]:
fruits=["apple","mango","banana","guva"]
import random
rd=random.randint(0,len(fruits)-1)
value=fruits[rd]
print(value)
for n in value:
  print(" '_'  ")

apple
 '_'
 '_'
 '_'
 '_'
 '_'

In [ ]:
chosen_word="srenidhe"

display=[]
for _ in chosen_word:
  display+="_"
print(display)

['_', '_', '_', '_', '_', '_', '_', '_']

In [ ]:
fruits=["apple","mango","banana","guva"]

import random
rd=random.randint(0,len(fruits)-1)
value=fruits[rd]
print(value)
display=[]

for _ in value:
  display+="_"
print(display)

end=False

while not end:
  guess=input("The letter is:")

  for position in range(0,len(value)):
    letter=value[position]
    if letter==guess:
      display[position]=letter
      print(display)
  if "_" not in display:
       end=True
       print("you won")

apple
['_', '_', '_', '_', '_']
The letter is:p
['_', 'p', '_', '_', '_']
['_', 'p', 'p', '_', '_']
The letter is:l
['_', 'p', 'p', 'l', '_']
The letter is:e
['_', 'p', 'p', 'l', 'e']
The letter is:a
['a', 'p', 'p', 'l', 'e']
you won

In [ ]:
for n in range(0,7):
  print(n)

0
1
2
3
4
5
6

In [ ]:
#TO IMPORT FILE TO THE CURRENT FILE
#import file_name
#a=file_name.list_name(any name mentioned in the previous file)

#or

#from file_name import list_name
#print(list_name)

#FROM THE SAME FILE WE CAN IMPORT TWO LIST AT DIFFERENT PLACES OF THE CODE BY MENTION THE LIST NAME AT THE LAST AFTER IMPORTING THE FILE
#FOR EXAMPLE:
#MY FILE NAMED SREE HAS TWO LIST CALLED FRNDS AND FAMILY.I CAN IMPORT THE FRND LIST BY
#from sree import frnds
#OR WANNA IMPORT BOTH THE LIST
# from sree import frnds,family

In [ ]:
#FUNCTIONS
def greet():
  print("hello")
  print("hi")
  print("bye")

greet()

#FUNCTION WITH INPUTS
def values(name):
  print(f"hello {name}")
  print(f"How you doing {name}")
values("vigdhe")  #name is reffered as parameter and vigdhe is reffered as argument

hello
hi
bye
hello vigdhe
How you doing vigdhe

In [ ]:
#FUNTION WITH MORE THAN ONE INPUT
def team(name,location):
  print(f"hello {name}")
  print(f"what is it like in {location}")
team("vigu","mmda")

hello vigu
what is it like in mmda

In [ ]:
#POSITIONAL ARGUMENTS
def numbers(a,b,c):
  print(f"value of {a}")
  print(f"value of {b}")
  print(f"value of {c}")
numbers(1,2,3)

value of 1
value of 2
value of 3

In [ ]:
#KEYWORD ARGUMENTS
def numbers(a,b,c):
  print(f"value of {a}")
  print(f"value of {b}")
  print(f"value of {c}")
numbers(a=2,b=3,c=1)

value of 2
value of 3
value of 1

In [ ]:
#ENCRYPTION
alphabet=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v', 'w','x','y','z']
direction=input("encode or decode: \n")

plain_text=input("type your message: \n").lower()
shift_amount=int(input("type your shift number: \n"))
def encrypt(text,shift):
  cipher=""
  for letter in text:
    position=alphabet.index(letter)
    new_position=position+shift
    new_letter=alphabet[new_position]
    cipher+=new_letter
  print(f"the encoded text is {cipher}")
encrypt(text=plain_text,shift=shift_amount)

encode or decode:
encode
type your message:
sreni
type your shift number:
2
the encoded text is utgpk

In [ ]:
#DECRYPTION
alphabet=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v', 'w','x','y','z']
plain_text=input("type your message: \n").lower()
shift_amount=int(input("type your shift number: \n"))
def encrypt(text,shift):
  cipher=""
  for letter in text:
    position=alphabet.index(letter)
    new_position=position-shift
    new_letter=alphabet[new_position]
    cipher+=new_letter
  print(f"the encoded text is {cipher}")
encrypt(text=plain_text,shift=shift_amount)

type your message:
utgpk
type your shift number:
2
the encoded text is sreni

In [ ]:
from ast import Name
#ENCRYPTION AND DECRYPTION
alphabet=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v', 'w','x','y','z']
direction_cipher=input("encode or decode: \n")

plain_text=input("type your message: \n").lower()
shift_amount=int(input("type your shift number: \n"))
def encrypt(text,shift,direction):
  string=""
  for letter in text:
    position=alphabet.index(letter)
    # if direction=="decode":
    #   shift*=-1
    new_position=position+shift
    cipher=alphabet[new_position]
    string+=cipher
  print(f"the {direction} text is {string}")
encrypt(text=plain_text,shift=shift_amount,direction=direction_cipher)

encode or decode:
encode
type your message:
sreni
type your shift number:
2
the encode text is utgpk

In [ ]:
#DICTIONARY
#syntax
#{key:value}
dictionary={"pen":"that helps in writing during the exams",
            "rubber":"that helps in erasing the things return by the pencil",
            "pencil":"it is similar to a pen"
}
#RETRIEVING THE ITEMS FROM THE DICTIONARY
print(dictionary["rubber"])

#ADDING NEW ITEMS TO THE DICTIONARY
dictionary["name"]="the list of the students present in the school"
print(dictionary)

#TO CREATE EMPTY DICTIONARY
#dictionary={}
#print(dictionary)

#TO EDIT THE VALUES IN DICTIONARY
dictionary["pencil"]="it helps in writing"
print(dictionary)

that helps in erasing the things return by the pencil
{'pen': 'that helps in writing during the exams', 'rubber': 'that helps in erasing the things return by the pencil', 'pencil': 'it is similar to a pen', 'name': 'the list of the students present in the school'}
{'pen': 'that helps in writing during the exams', 'rubber': 'that helps in erasing the things return by the pencil', 'pencil': 'it helps in writing', 'name': 'the list of the students present in the school'}

In [ ]:
#LOOP THROUGH THE DICTIONARY
for key in dictionary:
  print(key)
  print(dictionary[key])

pen
that helps in writing during the exams
rubber
that helps in erasing the things return by the pencil
pencil
it helps in writing
name
the list of the students present in the school

In [ ]:
score={
    "sree":88,
    "bala":91,
    "priya":98,
    "sisu":56
}

grade={}
for student in score:
  if score[student]>95:
    grade[student]="outstanding"
  elif score[student]>90:
    grade[student]="very good"
  elif score[student]>85:
    grade[student]="good"
  else:
    grade[student]="fail"
print(grade)

{'sree': 'good', 'bala': 'very good', 'priya': 'outstanding', 'sisu': 'fail'}

In [ ]:
#NESTING A LIST INSIDE A DICTIONARY
india={"side":"north",
       "states":["delhi","rajasthan","bihar","nagpur"],
       "number":4

}
print(india)
print(india["states"][1])

{'side': 'north', 'states': ['delhi', 'rajasthan', 'bihar', 'nagpur'], 'number': 4}
rajasthan

In [ ]:
#NESTING A DICTIONARY INSIDE A DICTIONARY
india={"states":{"visisted":["delhi","rajasthan","bihar","nagpur"],"number":4},
       "states_1":{"visited":["tamil","kerala","karnataka","andhara"],"number":4}

}
print(india)

{'states': {'visisted': ['delhi', 'rajasthan', 'bihar', 'nagpur'], 'number': 4}, 'states_1': {'visited': ['tamil', 'kerala', 'karnataka', 'andhara'], 'number': 4}}

In [ ]:
#NESTING A DICTIONARY INSIDE A LIST
india=[{"states":"north",
        "places":["delhi","rajasthan","bihar","nagpur"],
        "number":4
        },
       {"states_1":"south",
        "places":["tamil","kerala","karnataka","andhara"],
        "number":4
        }


]
print(india[0])
print(india[0]["places"])

{'states': 'north', 'places': ['delhi', 'rajasthan', 'bihar', 'nagpur'], 'number': 4}
['delhi', 'rajasthan', 'bihar', 'nagpur']

In [ ]:
#ADDING A DICTIONARY IN A CREATED LIST
india=[{"states":"north",
        "places":["delhi","rajasthan","bihar","nagpur"],
        "number":4
        },
       {"states_1":"south",
        "places":["tamil","kerala","karnataka","andhara"],
        "number":4
        }
]
def new_country(st,pl,nu):
  new={}
  new["states"]=st
  new["places"]=pl
  new["number"]=nu
  india.append(new)
new_country("east",["mehalaya","odisha","west bengal","ap"],4)
print(india)

[{'states': 'north', 'places': ['delhi', 'rajasthan', 'bihar', 'nagpur'], 'number': 4}, {'states_1': 'south', 'places': ['tamil', 'kerala', 'karnataka', 'andhara'], 'number': 4}, {'states': 'east', 'places': ['mehalaya', 'odisha', 'west bengal', 'ap'], 'number': 4}]

In [ ]:
#PROJECT

def result(record):
  highest=0
  winner=""
  for bidder in record:
    amount=record[bidder]
    if amount>highest:
      highest=amount
      winner+=bidder
  print(f"the winner is {winner}")

finished=False

while not finished:
  name=input("ENTER YOUR NAME: ")
  bid=int(input("HOW MANY BIDS: $"))
  empty={}
  empty[name]=bid
  should_continue=input("Is there anyone to bid?'yes' or 'no'")
  if should_continue=="no":
    finished=True
    result(empty)

ENTER YOUR NAME: srenidhe
HOW MANY BIDS: $500
Is there anyone to bid?'yes' or 'no'yes
ENTER YOUR NAME: bala
HOW MANY BIDS: $1000
Is there anyone to bid?'yes' or 'no'yes
ENTER YOUR NAME: sisu
HOW MANY BIDS: $100
Is there anyone to bid?'yes' or 'no'no
the winner is sisu

In [ ]:
#FUNCTIONS WITH OUTPUT
# def my_fun()
#result=3*2
#return result (this statement replaces the my_fun() as result and prints the output

def format_name(f_name,l_name):
  """takes the first and last name"""
  a=print(f_name.title())#to convert the strating letter of string into a capital letter
  b=print(l_name.title())
  return f"{a} {b}"
format_name("srenidhe","SREnidhe")

Srenidhe
Srenidhe

'None None'

In [ ]:
#EVERTHING THAT IS AFTER THE RETURN VALUE IS GONNA REPLACE THE VALUE WHERE THE FUNTION WAS CALLED

In [ ]:
#DOCSTRINGS
#when it is defined after the function and when the function is called it diplays the pyrpose of the function that we have mentioned earlier
#it can also be used as a comment

In [ ]:
import random

def deal_card():
  """Returns a random card from the deck."""
  cards=["11,2,3,4,5,6,7,8,9,10,10,10,10"]
  card=random.choice(cards)
  return card

def calculate_score(car):
  if sum(car)==21 and len(car)==2:
    return 0
  if 11 in car and sum(car)>21:
    car.remove(11)
    car.append(1)
    return sum(car)

user_card=[]
comp_card=[]

for _ in range(2):
  new_card=deal_card()
  user_card.append(new_card)#append is used because a single element is added to the existing list
  #user_card+=new_card or user_card.extend(new_card) can be used only the new_card is also a list
  comp_card.append(new_card)

user_score=calculate_score(user_card)
comp_score=calculate_score(comp_card)

TypeError: ignored

In [ ]:
#SCOPE
enemies=1

def inc_ene():
  enemies=2
  print(f"the enemies are {enemies}")

inc_ene()
print(f"the enemies are {enemies}")

the enemies are 2
the enemies are 1

In [ ]:
# when a variable is created inside a function it is accesiable only inside that function it is called as local scope
# when a variable is defined outside a function it can be accessed anywhwere inside the scope or any function

In [ ]:
##when a variable is created inside a for loop or if statement the variable is not necessary to be intended and it can be accessed anywhere
##but when it is createde inside a function it should be intended
a=3
ene=["blue","red","yellow"]
if a<5:
  b=ene[0]
print(f"{b}")

def colours():
  if a<5:
    b=ene[1]
    print(f"{b}")
colours()

blue
red

In [ ]:
#it shows error cause enemies is a global variable it cannot be accessed inside the local scope so enemies=1 has to be intended inside the funtion inc_ene()
##it can be accessed by

enemies=1

def inc_ene():
  enemies+=1
  print(f"the enemies are {enemies}")

inc_ene()
print(f"the enemies are {enemies}")

UnboundLocalError: ignored

In [ ]:
i=50
def foo():
  i=100
  print(i)
  return i

foo()
print(i)

100
50

In [ ]:
import random

rd=random.randint(1,50)
print(f"the comp number is {rd}")
easy_lvl_turn=10
hard_lvl_turn=5

print("welcome to the Number Guessing Game")
print("I'm thinking of a number between 1 to 100")
level=input("choose a diifficulty type.Type 'easy' or 'hard' " )

def difficulty():
  if level=="easy":
    return easy_lvl_turn
  else:
    return hard_lvl_turn

turns=difficulty()

print(f"You have {turns} attempts to guess")

for a in range(0,turns):
  guess=int(input("Make a guess: "))
  if guess < rd:
    print("Too Low")

  elif guess > rd:
    print("Too High")

  else:
    print(f"You have chosen the correct number {guess} ")

the comp number is 22
welcome to the Number Guessing Game
I'm thinking of a number between 1 to 100
choose a diifficulty type.Type 'easy' or 'hard' hard
You have 5 attempts to guess
Make a guess: 2
Too Low
Make a guess: 48
Too High
Make a guess: 27
Too High
Make a guess: 98
Too High
Make a guess: 67
Too High

In [ ]:
# DEBUGGING

# def my_fun():
#   for i in range(1,20): #It does not print because for loop consider the range from 1 to n-1(19)
#     if i==20:
#       print("You got it")
# my_fun()


from random import randint
dice_images=[1,2,3,4,5,6]
dice_num=randint(1,6) #It shows error cause the list has max of index 5 so the dicew_num has to be changed to 5 instead of 6
print(dice_images[dice_num])

6

In [ ]:
# FOR CHECKING WHERE THE ERROR OCCURS WE CAN USE PYTHON TUTOR IT MOVES THE CODE LINE BY LINE

In [ ]:
def mutate(a_list):
  b_list=[]
  for new in a_list:
    item=new*2
    b_list.append(item)
  print(b_list)
mutate([1,2,3,4,5,6])

[2, 4, 6, 8, 10, 12]

In [ ]:
##TYPE ERROR-A WRONG DATATYPE

In [ ]:
#IDE-INTEGRATED DEVELOPMENT ENVIRONMRNT

#An IDE, or Integrated Development Environment, enables programmers to consolidate the different aspects of writing a computer program.
#Syntax Highlighting:
# An IDE that knows the syntax of your language can provide visual cues.
#  Keywords, words that have special meaning like class in Java, are highlighted with different colors.

# Autocomplete:
# When the IDE knows your programming language, it can anticipate what youre going to type next!

# Building Executables:
# Java is a compiled language. Before programs run, the source code of a .java file must be transformed into an executable .class by the compiler.
#  Once compiled, the program can be run from the terminal.

# Debugging:
# When a program does not run correctly, IDEs provide debugging tools that allow programmers to
# examine different variables and inspect their code in a deliberate way.
# IDEs also provide hints while coding to prevent errors before compilation.

In [ ]:
# OOP-Object Oriented Programming
#Class is called as the blueprint and Object are created from the class
# Syntax of class- Hotel()
# syntax of obj and class- waiter=Hotel() or car=CarBlueprint()
# waiter,car is the object and Hotel, CarBlueprint is the class

# object has 2 features- attributes and methods

# example:
# waiter(object):
# attributes - is_holding_plate=true and table_responsibe=[4,5,6]
# methods - def take_order(table,order) and def take_payment(payment)

#Syntax of object with attribute - car.speed (car is the object and speed is the attribute)
#Syntax of object with method - car.stop()

In [ ]:
class User: # creating a class
  pass #if u don't want to enter any values inside your class or your function and it should not get any indentation error

user_1=User() #creating an object
user_1.id="001" #creating an attribute for the object
user_1.name="srenidhe"
print(user_1.name)

user_2=User() #creating an object
user_2.id="002" #creating an attribute for the object
user_2.name="vig"
print(user_2.name)

srenidhe
vig

In [ ]:
#PREVIOUS CODE IS SAME AS THE CURRENT CELL CODE
class Employee:

  def __init__(self,id_emp,emp_name): #CONSTRUCTOR or INITIALIZER
    self.id=id_emp
    self.name=emp_name

emp_1=Employee("001","srenidhe")
print(emp_1.id)
emp_2=Employee("002","vigu")
print(emp_2.id)

001
002

In [ ]:
class User:
  def __init__(self,id_user,username):
    self.id=id_user
    self.name=username
    self.followers=0 #we can initialise default parameter 0 while creating a object
    self.following=0
  def follow(self,user):
    user.followers=+1
    self.following=+1

user_1=User("12","pee")
user_2=User("13","saani")


user_1.follow(user_2)

print(user_1.followers)
print(user_1.following)
print(user_2.followers)
print(user_2.following)

0
1
1
0

In [ ]:
#TWO TYPES OF SYNTAX TO IMPORT A MODULE
#1-importing module
# import turtle
# tim=turtle.Turtle()

#2-importing module
# from turtle import Turtle
# tim=Turtle()

#3-Aliase name
# import turtle as t
# tin=t.turtle()
# when u have a module that has long name instead of turtle we can change that module name into our convinence like t
# basically changing the name of the module to our convinence

#4
# for importing a python default module we have to click the module after importing it so it provides us with the option of import the modul
# turtle module is a standard library that is there in the python but python contains lot of library so we have to import it using the previous step mentioned

#5-importing all the class in a module
# from turtle import *
# it will import all the classes that is available in the turtle module

In [ ]:
!pip3 install ColabTurtle

Collecting ColabTurtle
  Downloading ColabTurtle-2.1.0.tar.gz (6.8 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: ColabTurtle
  Building wheel for ColabTurtle (setup.py) ... done
  Created wheel for ColabTurtle: filename=ColabTurtle-2.1.0-py3-none-any.whl size=7642 sha256=d13b8cd0563be857724da4e194875bf9da621c3777f411849a0ef6401bb2a6f6
  Stored in directory: /root/.cache/pip/wheels/5b/86/e8/54f5c8c853606e3a3060bb2e60363cbed632374a12e0f33ffc
Successfully built ColabTurtle
Installing collected packages: ColabTurtle
Successfully installed ColabTurtle-2.1.0

In [ ]:
from ColabTurtle.Turtle import *
initializeTurtle()

In [ ]:
import ColabTurtle.Turtle as lia
# lia.initializeTurtle(initial_speed=5)
lia.color('blue')
lia.forward(100)
lia.right(45)
lia.color('red')
lia.forward(50)

In [ ]:
file=open("sree.txt")

FileNotFoundError: ignored

# New Section

In [ ]:
# pascal case - CarOperations where all the starting words are capital
# camel case - carOperations where starting word in not capitialised but all the remaining words are capitalised
# snake case - car_operations where under scode is used

In [ ]:
question_data=[
    {"que1":"a slugs blood is green","ans1":"true"},
    {"que2":"the loudest animal is the african elephant","ans2":"false"},
    {"que3":"you can lead a cow down stairs but not upstairs","ans3":"false"}

]